


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Style the body */
body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

/* Style the question container */
.question-container {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px;
   max-width: 600px;
   width: 100%;
   text-align: center;
   margin-bottom: 20px;
}

/* Style the question text */
.question-container p.question {
   color: #333;
   margin-bottom: 20px;
   line-height: 1.5;
}

/* Style the buttons container */
.button-container {
   display: flex;
   justify-content: center;
   gap: 20px;
}

/* Style for the start button */

.stop-button {
   padding: 12px 20px;
   font-size: 16px;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, opacity 0.3s;
}



/* Stop button default state */
.stop-button {
   background-color: #FF5733;
   color: white;
   outline: none;
}



/* Disabled state for both buttons */
.stop-button:disabled {
   background-color: #e0e0e0;
   color: #999;
   cursor: not-allowed;
}

/* Style for the 'stopped' class on the stop button */
.stop-button.stopped {
   background-color: #999;
   color: #fff;
   cursor: not-allowed;
   outline: none;
}

/* Optional: Additional styling when the rotation is stopped */
.stop-button.stopped:hover {
   background-color: #999;
}



/* Optional: Add a little space between the question and the buttons */
.button-container {
   margin-top: 20px;
}


.question-container h2{
   margin-bottom: 20px;
}